* {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 120%;
  color: #000;
}

h1 {
  font-size: 31.5px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 8px 0;
}

header {
  background: #ffcc00;
}

header nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  margin: 0;
  padding: 20px;
}

header li {
  list-style-type: none;
}

main {
  background: #efefef;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

figure {
  background: #fff;
  margin: 20px;
  display: grid;
  grid-template-columns: 100px auto;
  grid-column: span 2;
}

figcaption {
  padding: 10px 16px;
}

figure img {
  max-width: 100%;
}
